// FONTS
$roboto_light: 'Roboto Light';
$roboto_regular: 'Roboto Regular';
$roboto_medium: 'Roboto Medium';
$roboto_bold: 'Roboto Bold';
$roboto_black: 'Roboto Black';

// COLORS

$green_color: #A7C93D;
$yellow_color: #FFC902;
$green_color: #A7C93D;
$red_color: #FF6B00;

$headline_color: #383334;
